:root {
  --сolor-brand-normal: #819b57;
  --сolor-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #a18268;
  --сolor-primary-dark: #31261a;
  --сolor-primary-light: #faf4ea;
}
